* { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-image: url("backgrounds/boy_1.jpg");
    background-size: cover;
    display: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.styles{
    display: flex;
    position: center;
    align-items: flex-start;
    justify-content: center;
}
.btn{
    margin-top: 30px;
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border: 1px solid #222;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
.keys{
    font-size: 9px;
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.key{
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.4rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width: 110px;
    text-align: center;
    color: white;
    background:rgba(0,0,0,0.4);
    text-shadow:0 0 5px black;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;

}
kbd{
    display: block;
    font-size: 50px;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}
.bgm{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    bottom: 20px;
    left: 50%;
}
.btn2{
    margin-top: 30px;
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border: 1px solid #222;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.btn2:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn2:disabled{
    cursor: no-drop;
}
#muteButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    font-size: 28px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 5px;
}
#muteButton:hover {
    background-color: rgba(0,0,0,0.8);
}