* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url("backgrounds/chromakopia.jpg");
    background-size: cover;
    display: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.styles {
    display: flex;
    position: center;
    align-items: flex-start;
    justify-content: center;
}

.btn {
    margin-top: 20px;
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 99px;
    height: 99px;
    border: 1px solid #222;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#wolf {
    background-image: url("Album Covers/wolfArt.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}

#cherry {
    background-image: url("Album Covers/cherryArt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}

#igorT {
    background-color: #f7b4c6;
}

#igor {
    background-image: url("Album Covers/igorArt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}

#estate {
    background-image: url("Album Covers/estateArt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}

#chroma {
    background-image: url("Album Covers/chromaArt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}

#fb {
    background-image: url("Album Covers/fbArt.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;

}
#golf {
    background-image: url("Album Covers/golfArt.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}

.keys {
    font-size: 9px;
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.key {
    border: 3px solid black;
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 170px;
    font-size: 1.4rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width: 110px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffffff;
    box-shadow: 0 0 10px #717171;

}

kbd {
    display: block;
    font-size: 50px;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00B140;
}

label.soundButton{
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}
.soundButton {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    bottom: 20px;
    left: 50%;
}
select {
    appearance: none;           /* Removes default styling (especially useful on Safari) */
    -webkit-appearance: none;    /* Removes default styling on WebKit browsers */
    -moz-appearance: none;       /* Removes default styling on Mozilla */
    
    background-color: #4CAF50;   /* Button background color */
    color: rgb(0, 0, 0);                /* Text color */
    padding: 10px 15px;          /* Padding for comfortable click area */
    font-size: min(2vw, 12px);     
    box-sizing: border-box;        /* Font size */
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;                /* Removes default border */
    border-radius: 5px;          /* Rounded corners */
    cursor: pointer;             /* Pointer cursor on hover */
    width: 150px;                /* Sets width of the button */
    text-align: center;    
    white-space: nowrap;      /* Centers the text */
}
select::after {
    content: "▲";                /* Unicode for down arrow */
    position: absolute;
    right: 10px;
    color: rgb(0, 0, 0);
}
select option[value=""] {
    color: rgb(20, 1, 1);       /* Gray color for the placeholder */
}
select option{
    font-size: 13px;
    box-sizing: border-box;        /* Font size */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
    width:90%;
}
select:focus {
    outline: black;               /* Removes default focus outline */
    box-shadow: 0 0 5px #333333;    /* Adds a subtle shadow on focus */
}
.btn2 {
    
    margin-top: 30px;
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 155px;
    height: 40px;
    border: 1px solid #222;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.btn2:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn2:disabled {
    cursor: no-drop;
}
.btn2 option{
    background-color: white;
    color:black;
}


#muteButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    font-size: 28px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
}

#muteButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}